.container {
    height: 80px;
    width: 145px;
    background-color: rgb(43, 42, 42);
    border-radius: 20px;
    padding: 15px;
    color: aliceblue;
    font-size: large;
}

.container1 {
    height: 50px;
    width: 110px;
    background-color: rgb(22, 22, 22);
    border-radius: 20px;
    padding: 15px;
    color: aliceblue;
    font-size: large;
}


/* Customize scrollbar appearance  */
#transactionholderreport::-webkit-scrollbar {
    -ms-overflow-style: none;
    width: 0;
}


.btn {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(43, 42, 42);
    color: aliceblue;
    font-size: large;
    font-family: cursive;
    border: none;
}

.btn1 {
    width: 107px;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(43, 42, 42);
    color: aliceblue;
    font-size: large;
    font-family: cursive;
    border: none;
}

.heading {
    color: aliceblue;
}

.page {
    background-color: rgb(22, 22, 22);
}

.info {
    margin-top: 30px;
    margin-left: 5px;

}

.info1 {
    margin-top: 5px;
    margin-left: 5px;

}

#transaction {
    border-radius: 15px;
    background-color: rgb(43, 42, 42);
    height: 50px;
    margin-top: 10px;
    color: aliceblue;
    padding: 15px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px
}

#reporttransaction {
    border-radius: 15px;
    background-color: rgb(43, 42, 42);
    height: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    padding: 15px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px
}

#reporttransactionholder::-webkit-scrollbar {
    width: 5px;
    background-color: aliceblue;
    border-radius: 5px;

}

#transactionholder::-webkit-scrollbar {
    width: 3px;
    background-color: rgb(43, 42, 42);
    border-radius: 5px;

}

#reporttransactionholder {
    background-color: rgb(43, 42, 42);
}

.inputfields {
    border-radius: 15px;
    height: 50px;
    border: none;
    background-color: rgb(22, 22, 22);
    padding-left: 10px;
    font-size: large;
    font-family: cursive;
    color: aliceblue;
}

.msg {
    display: none;
}

#categoryandname {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#dateBox {
    display: flex;
    background-color: rgb(27, 26, 26);
    height: 65px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    border-radius: 10px;

}

#buttondate {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(77, 142, 204);
    color: aliceblue;
    font-size: large;
    font-family: cursive;
    border: none;
}

#buttonyear {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(77, 142, 204);
    color: aliceblue;
    font-size: large;
    font-family: cursive;
    border: none;
}

#reportnotransaction {
    color: aliceblue;
    margin: auto;
}